.movies-title {
    font-size: 2.5rem;
    margin: 20px 0;
    text-align: center;
    color: #333;
    text-transform: capitalize;
}

.movie-list-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    margin: 20px;
}

.movie-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Spread the title and content */

    border: 2px solid #989cf4; /* Bright gold border to make it stand out */
    border-radius: 15px; /* Rounded corners for a softer look */
    padding: 10px;
    background-color: #e9e9f3; /* Ensure the background contrasts with the border */
    transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}

.movie-container:hover {
    transform: scale(1.05);
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
    background-color: #e8e4e4;
    border-color: #454df3; /* Slightly darker gold on hover */
}

.vote-number::before {
    content: "â­";
}

.movie-title, .movie-genre, .movie-overview, .movie-vote-average {
    /*word-break: break-all;*/
}

/* Add star icons for ratings */
.vote-number {
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.movie-overview {
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Display 4 lines max */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: justify;
}

.movie-overview.expanded {
    height: auto; /* Allow it to expand fully when toggled */
    -webkit-line-clamp: unset; /* Remove line clamping */
    overflow: visible; /* Allow full content to show */
}

.read-more {
    color: #007bff; /* Blue color for the link */
    cursor: pointer;
    font-size: 0.85rem;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 5px;
}

.read-more:hover {
    color: #0056b3; /* Darker blue on hover */
}

.movie-container img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.movie-info {
    padding: 0 7px;
}

.movie-lazy-load {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.movie-lazy-load.loaded {
    opacity: 1;
}

.movie-info > *:not(.movie-title) {
    color: rgb(122, 122, 122);
}

.movie-content p:not(.movie-overview) {
    font-weight: bold;
    margin: 5px 0;
}

.movie-container::-webkit-scrollbar,
.modal::-webkit-scrollbar {
    display: none;
}

.movie-info > * {
    margin: 10px 0;
}

.movie-title {
    color: #696969;
    font-style: italic;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 5px;

    white-space: normal;
    word-wrap: break-word;

    overflow: hidden; /* Hide overflowed text */
    text-overflow: ellipsis;
}

.movie-genre {
    font-size: 0.85rem;
    /*margin-bottom: 10px;*/
}

.movie-content {
    flex-grow: 1; /* Allow the content to adjust dynamically */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Ensure a consistent gap */
    align-items: center;
    text-align: center;
}

.movie-release-year {
    font-size: 0.9rem;
    /*margin-bottom: 5px;*/
}

/* Vote average */
.movie-vote-average {
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    /*margin-bottom: 2px;*/
}

.read-more {
    color: #007bff; /* Blue color for the link */
    cursor: pointer;
    font-size: 0.85rem;
    text-decoration: underline;
    margin-top: 5px;
}

.read-more:hover {
    color: #0056b3; /* Darker blue on hover */
}

@media (max-width: 497px) {
    .movie-list-container {
    }
}


