:root {
    --main-bg-color: #fbf9f1;
    --primary-color: #007BFF;
    --dark-mode-bg: #121212;
    --dark-mode-text: #e0e0e0;
    --dark-color: #333;
    --hover-bg-color: #454df3;
    --focus-border-color: #007BFF;
    --movie-bg-color: #e9e9f3;
}

* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    margin: 0;
    background-color: var(--main-bg-color);
}

/* Add dark mode styling */
body.dark-mode {
    background-color: var(--dark-mode-bg);
    color: var(--dark-mode-text);
}

body.dark-mode .modal {
    background-color: var(--dark-mode-bg);
}

body.dark-mode .movie-container {
    background-color: #1e1e1e;
    color: var(--dark-mode-text);
    border-color: #444;
}

body.dark-mode .movie-container:hover {
    box-shadow: 0 4px 15px rgba(255, 255, 255, 0.6);
}

body.dark-mode .movies-title {
    color: var(--dark-mode-text);
    background-color: #1e1e1e;
}

body.dark-mode .dark-mode-toggle {
    background-color: #fff;
    color: var(--dark-color);
    border-color: #ccc;
}

body.dark-mode .dark-mode-toggle:hover {
    background-color: #f1f1f1;
    color: #000;
    border-color: #999;
}

body.dark-mode .similar-container .movie-title {
    color: var(--dark-mode-text);
}