.modal {
    transform: scale(0.5);
    background-color: var(--main-bg-color);
    padding: 20px;
    width: 60%;
    height: 70%;
    border: 5px solid black;
    border-radius: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    animation: scale-up 0.5s ease forwards;
    overflow: scroll;
}

@keyframes scale-up {
    from {
        transform: translate(-50%, -50%) scale(0.5);
    }
    to {
        transform: translate(-50%, -50%) scale(1);
    }
}

.lazy-load {
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
.lazy-load.loaded {
    opacity: 1;
}

@media (max-width: 768px) {
    .modal {
        width: 90%;
        height: auto;
    }
    .movie-container {
        width: 150px;
        height: auto;
    }
}
